<div class="card">
  <div class="card-header">Add New Property</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #addPropertyForm="ngForm">
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          #propertyName="ngModel"
          ngModel
          name="name"
          required
          minlength="5"
        />
        @if (!propertyName.valid && propertyName.touched) {
          @if (!propertyName.valid && propertyName.touched) {
            @if (propertyName.errors?.["required"]) {
              <span class="error-block"> Please Provide Name </span>
            }
          }
          @if (propertyName.errors?.["minlength"]) {
            <span class="error-block"> Name should be 5 char long </span>
          }
        }
      </div>
      <div class="form-group col-12">
        <label for="type">Type</label>
        <input type="text" class="form-control" ngModel name="type" />
      </div>
      <div class="form-group col-12">
        <label for="price">Price</label>
        <input type="text" class="form-control" ngModel name="price" />
      </div>
      <div class="form-group col-12">
        <button type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</div>
