<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Register</div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName" />
            @if (userName.invalid && userName.touched) {
              <span class="error-block">Pls provide username</span>
            }
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" />
            @if (email.invalid && email.touched) {
              @if (email.hasError("required")) {
                <span class="error-block"> Pls provide email </span>
              }

              @if (email.hasError("email")) {
                <span class="error-block"> Pls provide valid email </span>
              }
            }
          </div>

          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" />
            @if (password.invalid && password.touched) {
              @if (password.hasError("required")) {
                <span class="error-block"> Pls provide password </span>
              }

              @if (password.hasError("minlength")) {
                <span class="error-block"> Pls provide valid password </span>
              }
            }
          </div>

          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              [ngClass]="{
                'not-matched': registrationForm.errors?.['notMatched'],
              }"
              formControlName="confirmPassword"
            />
            @if (confirmPassword.invalid && confirmPassword.touched) {
              @if (confirmPassword.hasError("required")) {
                <span class="error-block"> Pls provide confirm Password </span>
              }
            }
            @if (registrationForm.hasError("notMatched") && confirmPassword.valid) {
              <span class="error-block"> Confirm Password is mismatched </span>
            }
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" formControlName="mobile" />
            @if (mobile.invalid && mobile.touched) {
              @if (mobile.hasError("required")) {
                <span class="error-block"> Pls provide mobile </span>
              }

              @if (mobile.hasError("minlength")) {
                <span class="error-block"> Pls provide valid mobile </span>
              }
            }
          </div>

          <div class="form-group col-12 mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary ms-2">Cancel</button>
          </div>
        </form>
        Form values: {{ registrationForm.value | json }} <br />
        Form Status:{{ registrationForm.valid | json }}
      </div>
    </div>
  </div>
</div>
